<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd     
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="servletHandlerAdapter"
		class="org.springframework.web.servlet.handler.SimpleServletHandlerAdapter" />

	<context:component-scan base-package="com.lwd.test.project.controller">
		<context:include-filter type="regex"
			expression=".*ApiController" />
	</context:component-scan>

	<mvc:annotation-driven />

	<mvc:resources mapping="/check.html" location="/check.html" />
	<mvc:resources mapping="/checkpreload.htm" location="/checkpreload.htm" />
	

	<mvc:resources mapping="/favicon.ico" location="/favicon.ico" />

	<mvc:resources mapping="/status.taobao" location="/status.taobao" />

</beans>